@import "tailwindcss";

@layer base {
  a,
  button,
  input[type="button"],
  input[type="submit"],
  textarea,
  select,
  .cursor-pointer {
    cursor: pointer;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
